/* :root {
    --main-color:rgb(230, 230, 230);
    --header-height:70px;
    --content-width:1000px;
}

html{
    font-family: 'Roboto', sans-serif;
    scroll-padding-top:80px;
}

body {
    box-sizing: border-box;
    background-color: var(--main-color);
    margin:0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#header{
    width:100vw;
    position: fixed;
    z-index:1;
    background-color: var(--main-color);
    min-height:var(--header-height);

    display:inherit;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

#header-img{
    max-width:99%;
    width:450px;
}

#nav-bar{
    min-width:40%;
    margin-left:1em;
    margin-right:1em;

    display:inherit;
    flex-direction: row;
    justify-content: space-between;
}

.nav-link{
    color: black;
    text-decoration: none;
    margin:0.15em;
    font-size: 1.15em;
}

main{
    margin-top: var(--header-height);
    width: var(--content-width);
    max-width:100%; 

    display:inherit;
    flex-direction: column;
    align-items: center;
}

main h2{
    text-align:center;
}

#form{
    margin-bottom:20px;

    display:flex;
    flex-direction:column;
}

#submit{
    margin:15px 30px 0px 30px;
    background-color:rgba(255, 68, 0, 0.856);
    border:none;
    padding:5px;
    font-weight: bold;
}

#text{
    width:85%;

    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

#text h2{
    margin: 0;
}

#text p{
    margin-top:5px;
}

#video{
    margin:30px;
    max-width:100%;
}

#flex-container{
    width:auto;
    max-width: 100%;

    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

#flex-container article{
    border:solid;
    width:250px;
    margin:10px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#flex-container article>*{
    text-align: center;
    padding:10px;
}

#flex-container h3{
    background-color: rgb(189, 189, 189);
    margin:0;
    padding:10px 0 10px 0;
}

#flex-container h4{
    font-weight: bold;
    font-size:1.2em;
    margin:20px;
}

#flex-container p{
    margin:0px 5px 20px 5px;
}

#flex-container input{
    border: none;
    background-color: rgba(255, 68, 0, 0.856);
    padding:10px;
    margin:auto 40px 20px 40px;
    width:auto;
}

footer{
    background-color: darkgray;
    width: var(--content-width);
    max-width:90%;
    text-align: end;
    padding:10px;
    margin-top: 20px;
}

#footer-nav p{
    color:rgb(66, 66, 66);
}

@media all and (max-width:900px){
    #flex-container{
        flex-direction: column;
        align-items: center;
    }

    #flex-container article{
        margin:10px;
    }
}

@media all and (max-width:800px){
    #nav-bar{
        flex-direction: column;
        align-items: center;
        margin-top:10px;
    }

    main{
        margin-top:120px;
    }

    #flex-container{
        flex-direction: column;
    }
}

@media all and (max-width:700px){
    #header{
        display: flex;
        flex-direction:column;
        align-items: center;
        padding-top:10px;
    }

    main{
        margin-top: 150px;
        width:80vw;
    }
} */
:root{
    --primary-color:;
    --secondary-color:;
    --third-color:;

}

*,
::after,
:before{
    margin:0;
    padding:0;
    box-sizing:border-box;
    /* border:solid; */
}

html{
    font-size: 62.5%;
}

body{
    height:100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    display:flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(255, 177, 177); 
}

#header{
    position:fixed;
    z-index: 1;
    width:100%;
    display:flex;
    align-items:center;
    justify-content: space-between;
    background-color: antiquewhite;
    border-bottom: rgba(240, 160, 63, 0.192) solid;
    /* border:solid; */
}

#header-img{
    object-fit:contain;
    width:500px;
    max-width:80%;
    margin:auto 2rem;
    /* border:solid; */
}

#nav-bar{
    display:flex;
    flex-direction: row;
    margin:auto 2rem;
    /* border:solid; */
}

#nav-bar .nav-link{
    color:black;
    text-decoration: none;
    font-size: 2.5rem;
    margin:auto 2rem;
    padding:1rem;
    /* border:solid; */
}

main{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 68px;
    padding: 2rem;
    background-color: rgb(250, 235, 215);
    max-width:80%;
}

h1{
    padding:1rem;
    font-size: 3.5rem;
}

form{
    padding: 1rem;
}

input{
    display:block;
    margin:10px auto;
}

#email{
    padding:10px;
}
#submit{
    padding:10px 20px;
}

input[type="submit"]{
    background-color: rgba(255, 127, 80, 0.377);
    transition:background-color 0.5s linear;
}

@media (hover:hover){
    input:hover{
        background-color: coral;
    }
}

#text{
    text-align: left;
    margin: auto 2em;
}

#text h2{
    margin-top: 2rem;;
}

#text p{
    padding:1rem auto;
}

#video{
    margin: 3rem auto;
}

#flex-container{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

#flex-container article{
    background-color: rgba(255, 99, 71, 0.555);
    /* width: 30%; */
    width:300px;
    height:400px;
    display:grid;
    grid-template-rows: auto;
    margin: 7px;
}

article h3{
    padding:15px;
}

article h4{
    padding:10px;
}

#flex-container article input{
    padding:10px;
}







/* MEDIA START */
@media screen and (max-width:1100px){
    #nav-bar{
        flex-direction:column;
    }
}

@media screen and (max-width:800px){
    #header{
        flex-direction: column;
        text-align: center;
    }
}

/* MEDIA END */